@keyframes moving-icon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1vh);
    }
    100% {
        transform: translateY(0);
    }
}

.section-cv{
    a {
        text-decoration: none;
        color: inherit;
        padding: 8px 25px;
    }
    button{
        padding: 8px 0;
    }
}

.article {
    width: 95%;
    margin: auto;
    .timeline {
        margin-top: 10px;
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0;
        height: 50px;
        position: relative;
    }
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 95vw;
        height: 50px;
        right: 75px;
        font-size: 20px;
        &:hover {
            animation: moving-icon 0.7s linear infinite;
        }
    }
    p {
        margin-top: 0;
    }
}


.timeline__content, .experience__content, .skills__content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.hide {
    max-height: 0;
}

.display{
    max-height: 500px;
}
.textHuman {
    display:block;
}
.textHulk {
    display:none;
}
@media only screen and (min-width: 767px){
    
}