footer{
  background-color: $titleColor;
  margin-top: 30px;
}

.networkIcons {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;


  img {
    width: 35px;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 10px;
  }
}



input[type="search"] {
    border: 1px dotted #999;
    border-radius: 0;
  }


.searchInsite{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}