fieldset{
  margin-top: 20px;
  border: none;
  legend {
    border-bottom: 1px solid $titleColor;
    width: 100%;
    padding-bottom: 5px;
  }
  
}
.humanForm{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  .form-input {
    display: flex;
    width: 100%;
    margin-bottom: 5px;


    label {
      margin: 5px 10px 5px;
      flex: 1;
    }

    input.custom-input
    {
      flex: 5;
      vertical-align: middle;
      margin: auto;
      padding: 10px;
      border: 1px solid #ddd;
    }

    textarea.custom-input {
      flex: 5;
      padding : 10px;
      margin  : auto;
      border: none;
      width   : 70%;
      resize  : none;
      overflow: auto;
    }
  }

}

.hulkForm { 
  //display: none; 
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  .form-input {
    display: flex;
    width: 100%;
    margin-bottom: 5px;

    .radio-container {
      flex: 5;
    }

    .custom-radio {
      display: block;
      input[type="radio"].custom-input {
        flex: 1;
        border: 1px dotted #999;
        border-radius: 0;
      }

      > label.radio-label {
        margin: 5px 10px 5px;
        flex: 5;
      }
    }

    label {
      margin: 5px 10px 5px;
      flex: 1;
    }

    textarea.custom-input {
      flex: 5;
      padding : 10px;
      margin  : auto;
      border: none;
      width   : 70%;
      resize  : none;
      overflow: auto;
    }
  }

}


@media screen and (max-width: 767px) {

  .humanForm{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}