.profil {
    display: grid;
    border: 1px solid $titleColor;
    grid-gap: 8px;
}
.carousel {
    box-sizing: border-box;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 100px;
    margin: auto;
  }
  .avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: solid 2px $titleColor;
  }
.parcours {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

.description {
    text-align: left;
    color: $fontColor;
    font-size: 1em;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .profil  {
      display: grid;
      grid-gap: 5px;
    }
  }
