.profil h1{
  width: 95%;
  margin: 18px auto;
}

.containerprofil {
  width: 95%;
  margin: auto;
  display:flex;
  justify-content: space-around;
}
.image {
  width: 100%;
}
.imageHulk {
  display: none;
  width: 100%;
}
.avatar {
  flex: 1;
  position: relative;
}

.parcours {
  flex: 1;
  text-align: left;
  color: $fontColor;
  font-size: 1.2em;
}

.hulkPicture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.banner {
  width: auto;
}
.hulk {
  height: auto;
}
.descriptionHulk {
  display:none;
}

@media screen and (max-width: 767px) {
    .carousel {
      display: none;
    }
    .description {
      text-align: center;
    }
  }
