.profil {

}
.carousel {
  
  }
.image {
  width: 100%;
}
.avatar {
width: 50%;
}
.parcours {
    
  }

.description {
    display: list-item;
    text-align: left;
    color: $fontColor;
    font-size: 1.2em;
}



@media screen and (max-width: 767px) {
    .profil  {
      
    }
    .carousel {
      display: none;
    }
  }
