@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.hulk-mod{
    background-color: rgb(37,51,36);
    background: linear-gradient(184deg, rgba(37,51,36,1) 0%, rgba(28,71,25,1) 35%, rgba(0,0,0,1) 100%);
    color: $fontColorHulk;
    font-family: 'Creepster', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 3px #000;
    h1 {
        font-family: 'Butcherman', cursive;
        font-size: 30px;
        text-shadow: 2px 3px #000;
        color: $titleColorHulk;
    }

    button {
        outline: none;
        padding: 1px 40px;
        font-family: 'Butcherman', cursive;
        font-size: 25px;
    }

    .nav a.active{
        padding: 22px 16px;
    }

    .section-cv {
        a{
            padding: 1px 40px;
        }
        button {
            padding: 1px 0;
        }
    }

    .article i {
        right: 120px;
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) 3 both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.descriptionHulk {
    text-shadow: 5px 5px black;
    font-size: 30px;
}